@page
@model RecruitCatDalalmk.Pages.OurTeamModel

@{
    ViewData["Title"] = "Our Team";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Meet Our Team</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://drive.google.com/thumbnail?id=1u5e2k9rPYzZCuE0x1ij3yZ1_WElztVXJ" class="card-img-top" alt="Your Photo">
                <div class="card-body">
                    <h5 class="card-title">Mayank Dalal</h5>
                    <p class="card-text">
                        Mayank Dalal – Founder & CEO

                        Mayank Dalal, the visionary Founder and CEO of our company, brings over 15 years of distinguished experience to the forefront. Under Mayank's innovative leadership, the company has achieved exceptional success and sustained growth. With an unwavering commitment to cultivating a collaborative and dynamic work environment, Mayank fosters a culture of innovation and excellence. Beyond the professional realm, Mayank is an avid basketball enthusiast, dedicating time to both playing and following the sport, and enjoys exploring diverse culinary experiences.
                    </p>
                    <a href="mailto:dalalmk@mail.uc.edu" class="btn btn-primary">Contact Mayank </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://e1.pxfuel.com/desktop-wallpaper/974/212/desktop-wallpaper-tcr-on-twitter-ronaldo-suit-thumbnail.jpg" class="card-img-top" alt="Member 1 Photo">
                <div class="card-body">
                    <h5 class="card-title">Vasu Arora</h5>
                    <p class="card-text">Vasu Arora, our COO, expertly manages daily operations and aligns them with the company’s vision. With extensive experience in operations management, Vasu ensures that projects and processes run with exceptional efficiency. Vasu’s strategic insight and proactive approach are vital to driving our success and overcoming challenges. Outside of work, Vasu is a passionate football fan, enjoys playing and following the sport, and finds relaxation in reading and cycling. Vasu also loves exploring new technologies and trends to stay ahead in the industry.</p>
                    <a href="mailto:vasuarora1@gmail.com" class="btn btn-primary">Contact Vasu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://i.pinimg.com/474x/ea/33/a6/ea33a6964d72256516836030960fa2d3.jpg" class="card-img-top" alt="Member 2 Photo">
                <div class="card-body">
                    <h5 class="card-title">Tathagat Dahiya</h5>
                    <p class="card-text">Tathagat Dahiya, our distinguished Head of Client Relations, is dedicated to nurturing and maintaining robust relationships with our esteemed clients. With a wealth of expertise in client management and communication, Tathagat ensures that each client receives exceptional service and support. Tathagat’s dedication to excellence is pivotal in delivering outstanding client experiences. Outside of work, Tathagat is an avid football aficionado, following FIFA events with great enthusiasm, and enjoys spending leisure time gardening and exploring the local arts and culture scene.</p>
                    <a href="mailto:john.tathagatdahiya1@gmail.com" class="btn btn-primary">Contact Tathagat</a>
                </div>
            </div>
        </div>
    </div>
</div>
